@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генерировать коды восстановления двухфакторной аутентификации (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Положите эти коды в надежное место.</strong>
    </p>
    <p>
       Если вы потеряете свое устройство и у вас не будет кодов восстановления, вы потеряете доступ к своей учетной записи.
    </p>
    <p>
        Генерация новых кодов восстановления не изменяет ключи, используемые в приложениях аутентификации. Если вы хотите изменить ключ, 
        используемый в приложении аутентификации, вам следует <a asp-page="./Reset Authenticator">сбросить свои ключи аутентификации.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Генерировать коды восстановления</button>
    </form>
</div>
