@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Двухфакторная аутентификация (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
<style>
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #28a745;
    }

    .nav-link {
        color: #2a7e3c;
        font-weight: 500;
    }
</style>
<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>You have no recovery codes left.</strong>
                    <p>Вы должны <a asp-page="./Generate Recovery Codes">сгенерировать новый набор кодов восстановления</a>, прежде чем сможете войти в систему с кодом восстановления.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>У вас остался 1 код восстановления.</strong>
                    <p>Ты можешь <a asp-page="./GenerateRecoveryCodes">создайте новый набор кодов восстановления</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>У тебя есть @Model.RecoveryCodesLeft оставленные коды восстановления.</strong>
                    <p>Ты можешь <a asp-page="./GenerateRecoveryCodes">создайте новый набор кодов восстановления</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Забудьте об этом браузере</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Отключить 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Сброс кодов восстановления</a>
        }

        <h4>Authenticator app</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Добавить приложение-аутентификатор</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-success">Настройка приложения-аутентификатора</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-success">Сбросить приложение-аутентификатор</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Политика конфиденциальности и использования файлов cookie не была принята.</strong>
            <p>Вы должны принять политику, прежде чем сможете включить двухфакторную аутентификацию.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
