@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Текущий браузер был забыт. Когда вы снова войдете в систему из этого браузера, вам будет предложено ввести свой код 2fa.";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас нет доступа к этому ресурсу.</p>
</header>
