@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            В настоящее время в этом приложении не зарегистрирован настоящий отправитель электронной почты. См. <a href="https://aka.ms/aspaccountconf">эти документы</a>, чтобы узнать, как настроить реального отправителя электронной почты.
            Обычно это отправляется по электронной почте: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите здесь, чтобы подтвердить свою учетную запись</a>
        </p>
    }
    else
    {
        <p>
            Пожалуйста, проверьте свою электронную почту, чтобы подтвердить свою учетную запись.
        </p>
    }
}

