@{
    ViewData["Title"] = "Type Doctor";
}

<style>

</style>
<table class="table">
	<thead >
		<tr>
			<th scope="col">Название</th>
			<th scope="col">Зарплата</th>
			<th scope="col">Краткое описание</th>
			<th scope="col">Родственные виды деятельности</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ВРАЧ-АЛЛЕРГОЛОГ</td>
			<td>18000</td>
			<td>Он выявляет аллергические заболевания при помощи специальных диагностических проб и лабораторных исследований в аллергологических отделениях больниц, поликлиниках, аллергоцентрах. </td>
			<td>Родственными являются специальности терапевта, токсиколога, нарколога, педиатра. </td>

		</tr>
		<tr>
			<td>ВРАЧ-АНЕСТЕЗИОЛОГ-РЕАНИМАТОЛОГ</td>
			<td>25000</td>
			<td>Он оказывает анестезиолого-реанимационную помощь во время и после операций, проводит реанимационные мероприятия (искусственное дыхание, прямой и непрямой массаж сердца и др.)</td>
			<td>Терапевт, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ЭПИДЕМИОЛОГ, ВРАЧ-ДЕЗИНФЕКЦИОНИСТ	</td>
			<td>20000</td>
			<td>Врач-эпидемиолог выявляет источник инфекции, которым может стать больной человек, домашние или дикие животные. Своевременное выявление источника крайне важно для предотвращения или прекращения распространения инфекции. Выявленных больных изолируют, в случае необходимости помещая в инфекционные больницы. Врач-эпидемиолог принимает меры по предупреждению появления вшей, блох, отдельных видов комаров, клещей и других насекомых, распространяющих инфекционные заболевания.</td>
			<td>Эти две специальности являются родственными между собой, близки к ним профессии врача-инфекциониста, санитарного врача, иммунолога, токсиколога. </td>

		</tr>
		<tr>
			<td>ВРАЧ-КАРДИОЛОГ</td>
			<td>30000</td>
			<td>Врач - кардиолог оказывает медицинскую помощь (консультирует и назначает лечение) больным с заболеваниями органов кровообращения, а также занимается профилактикой этих заболеваний. При неотложных состояниях проводит реанимационные мероприятия - непрямой массаж сердца, искусственную вентиляцию легких, электрическую дефибрилляцию.</td>
			<td>Терапевт, ревматолог, кардиохирург.   </td>
		</tr>
		<tr>
			<td>ВРАЧ-ОНКОЛОГ</td>
			<td>32000</td>
			<td>Различают: онколога-хирурга, который лечит онкологических больных путем хирургического вмешательства; онколога-радиолога, который проводит лечение ионизирующими лучами; онколога-химиотерапевта - применяющего лекарственные противоопухолевые препараты.</td>
			<td>Терапевт, хирург, радиолог, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ТРАВМАТОЛОГ-ОРТОПЕД</td>
			<td>20000</td>
			<td>Врач-травматолог-ортопед оказывает ортопедическую и травматологическую помощь. Использует консервативные (физиотерапию, лечебную физкультуру, санаторно-курортное лечение) и хирургические (операции на костях и мягких тканях) методы лечения. При необходимости назначает протезно-ортопедические изделия (корсеты, протезы, специальную обувь и др.)</td>
			<td>Терапевт, хирург, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ФИЗИОТЕРАПЕВТ</td>
			<td>16000</td>
			<td>Врач-физиотерапевт принимает в своем кабинете больных, направленных другими специалистами на лечение физическими факторами, изучает их истории болезни, определяет, нет ли противопоказаний для физиотерапии, какой метод лучше всего применить в данном случае.</td>
			<td>Терапевт, хирург, гинеколог, педиатр. </td>

		</tr>
		<tr>
			<td>ВРАЧ-ТОКСИКОЛОГ</td>
			<td>19000</td>
			<td>По признакам и течению заболевания при отравлениях он определяет, каким именно ядом отравился больной и назначает способы выведения яда из организма (гемосорбция, гемодиализ и др.), а также медикаментозные средства для обезвреживания и нейтрализации яда в организме (антидоты).</td>
			<td>Фармацевт, терапевт, нарколог, педиатр, аллерголог</td>

		</tr>
		<tr>
			<td>ВРАЧ-ПУЛЬМОНОЛОГ</td>
			<td>25000</td>
			<td>Врач-пульмонолог выявляет и устраняет факторы риска заболевания легких, оценивает результаты различных методов исследования пульмонологических больных, подбирает индивидуальные оптимальные методы лечения, организует и проводит комплексные мероприятия по выявлению больных с заболеваниями легких и их профилактику.</td>
			<td>Терапевт, фтизиатр, инфекционист, педиатр, аллерголог  </td>

		</tr>
		<tr>
			<td>ВРАЧ-ПСИХИАТР</td>
			<td>19000</td>
			<td>При нарушении деятельности головного мозга в результате его поражения или при болезнях других органов, нарушающих его нормальную деятельность, могут возникнуть психические заболевания, при которых в той или иной мере страдают психические функции человека. </td>
			<td>Психотерапевт, невропатолог, психолог, нарколог, терапевт, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ОФТАЛЬМОЛОГ</td>
			<td>25000</td>
			<td>Существует много причин, нарушающих зрение. Это и всевозможные воспаления, и снижение прозрачности оптической системы, и сосудистые поражения, и нарушения настройки глаза на близкое и далекое зрение (дальнозоркость и близорукость). Отсюда и задачи, стоящие перед врачом-офтальмологом.</td>
			<td>Хирург, терапевт, педиатр. </td>

		</tr>
		<tr>
			<td>Gloria</td>
			<td>Reeves</td>
			<td>67439</td>
			<td>10/18/1985</td>

		</tr>
		<tr>
			<td>Gloria</td>
			<td>Reeves</td>
			<td>67439</td>
			<td>10/18/1985</td>

		</tr>
		<tr>
			<td>Gloria</td>
			<td>Reeves</td>
			<td>67439</td>
			<td>10/18/1985</td>

		</tr>
		<tr>
			<td>Gloria</td>
			<td>Reeves</td>
			<td>67439</td>
			<td>10/18/1985</td>

		</tr>
		<tr>
			<td>Gloria</td>
			<td>Reeves</td>
			<td>67439</td>
			<td>10/18/1985</td>

		</tr>

	</tbody>
</table>