@{
    ViewData["Title"] = "Type Doctor";
}

<link rel="stylesheet" href="~/css/type.css" >


<div class="grid">
	<div class="item">
		<a href="#0" aria-labelledby="person1"></a>
		<img src='https://medswiss-spb.ru/wp-content/uploads/2014/01/Allergolog.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person1" aria-hidden="true">Аллерголог</h3>
			<div class="item__body">
				<p>Он выявляет аллергические заболевания при помощи специальных диагностических проб и лабораторных исследований в аллергологических отделениях больниц, поликлиниках</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person2"></a>
		<img src='https://www.gmseco.ru/upload/resize_cache/webp/upload/medialibrary/0d7/0d7e4df1464bcd0b6469ffa92c198b46.webp' alt=''>
		<div class="item__overlay">
			<h3 id="person2" aria-hidden="true">Анестезиолог-реаниматолог</h3>
			<div class="item__body">
				<p>Он оказывает анестезиолого-реанимационную помощь во время и после операций, проводит реанимационные мероприятия (искусственное дыхание,массаж сердца и др.)</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person3"></a>
		<img src='https://enjoy-job.ru/wp-content/uploads/2018/11/epidemiolog2.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person3" aria-hidden="true">Эпидемиолог</h3>
			<div class="item__body">
				<p>Он принимает меры по предупреждению появления вшей, блох, отдельных видов комаров, клещей и других насекомых, распространяющих инфекционные заболевания.
				</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person4"></a>
		<img src='https://www.gdp1podolsk.ru/blog/wp-content/uploads/2022/06/kto-takoy-kardiolog-fc6be.png' alt=''>
		<div class="item__overlay">
			<h3 id="person4" aria-hidden="true">Кардиолог</h3>
			<div class="item__body">
				<p>оказывает медицинскую помощь больным с заболеваниями органов кровообращения, а также занимается профилактикой этих заболеваний.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person5"></a>
		<img src='https://centr-hirurgii-viva.clinic/upload-files/onko1.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person5" aria-hidden="true">Онколог</h3>
			<div class="item__body">
				<p>Он лечит онкологических больных путем хирургического вмешательства и проводит лечение ионизирующими лучами</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person5"></a>
		<img src='https://img.freepik.com/premium-vector/in-traumatology-patient-treatment-trauma-vector-traumatologist-doctor-treat-woman-with-broken-leg-in-traumatology-hospital-cabinet-and-applying-elastic-bandage-characters-flat-cartoon-illustration_87720-5993.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person5" aria-hidden="true">Травматолог-ортопед</h3>
			<div class="item__body">
				<p>оказывает ортопедическую и травматологическую помощь. Использует консервативные (физиотерапию) и хирургические (операции на костях и тканях) методы.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person6"></a>
		<img src='https://images.unsplash.com/photo-1590424744257-fdb03ed78ae0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
		<div class="item__overlay">
			<h3 id="person6" aria-hidden="true">Физиотерапевт</h3>
			<div class="item__body">
				<p>принимает в своем кабинете больных, направленных другими специалистами на лечение физическими факторами, изучает их истории болезни, определяет.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person7"></a>
		<img src='https://images.unsplash.com/photo-1590424744257-fdb03ed78ae0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
		<div class="item__overlay">
			<h3 id="person7" aria-hidden="true">Person 7</h3>
			<div class="item__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person8"></a>
		<img src='https://images.unsplash.com/photo-1590424744257-fdb03ed78ae0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
		<div class="item__overlay">
			<h3 id="person8" aria-hidden="true">Person 8</h3>
			<div class="item__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person9"></a>
		<img src='https://images.unsplash.com/photo-1590424744257-fdb03ed78ae0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true">Person 9</h3>
			<div class="item__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</div>

@*
<table class="table table-striped table-bordered table-hover">
	<thead class="table-success">
		<tr>
			<th scope="col">Название</th>
			<th scope="col">Зарплата</th>
			<th scope="col">Краткое описание</th>
			<th scope="col">Родственные виды деятельности</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="" style="color:blue">ВРАЧ-АЛЛЕРГОЛОГ</td>
			<td>18000</td>
			<td>Он выявляет аллергические заболевания при помощи специальных диагностических проб и лабораторных исследований в аллергологических отделениях больниц, поликлиниках, аллергоцентрах. </td>
			<td>Родственными являются специальности терапевта, токсиколога, нарколога, педиатра. </td>

		</tr>
		<tr>
			<td>ВРАЧ-АНЕСТЕЗИОЛОГ-РЕАНИМАТОЛОГ</td>
			<td>25000</td>
			<td>Он оказывает анестезиолого-реанимационную помощь во время и после операций, проводит реанимационные мероприятия (искусственное дыхание, прямой и непрямой массаж сердца и др.)</td>
			<td>Терапевт, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ЭПИДЕМИОЛОГ, ВРАЧ-ДЕЗИНФЕКЦИОНИСТ	</td>
			<td>20000</td>
			<td>Врач-эпидемиолог выявляет источник инфекции, которым может стать больной человек, домашние или дикие животные. Своевременное выявление источника крайне важно для предотвращения или прекращения распространения инфекции. Выявленных больных изолируют, в случае необходимости помещая в инфекционные больницы. Врач-эпидемиолог принимает меры по предупреждению появления вшей, блох, отдельных видов комаров, клещей и других насекомых, распространяющих инфекционные заболевания.</td>
			<td>Эти две специальности являются родственными между собой, близки к ним профессии врача-инфекциониста, санитарного врача, иммунолога, токсиколога. </td>

		</tr>
		<tr>
			<td>ВРАЧ-КАРДИОЛОГ</td>
			<td>30000</td>
			<td>Врач - кардиолог оказывает медицинскую помощь (консультирует и назначает лечение) больным с заболеваниями органов кровообращения, а также занимается профилактикой этих заболеваний. При неотложных состояниях проводит реанимационные мероприятия - непрямой массаж сердца, искусственную вентиляцию легких, электрическую дефибрилляцию.</td>
			<td>Терапевт, ревматолог, кардиохирург.   </td>
		</tr>
		<tr>
			<td>ВРАЧ-ОНКОЛОГ</td>
			<td>32000</td>
			<td>Различают: онколога-хирурга, который лечит онкологических больных путем хирургического вмешательства; онколога-радиолога, который проводит лечение ионизирующими лучами; онколога-химиотерапевта - применяющего лекарственные противоопухолевые препараты.</td>
			<td>Терапевт, хирург, радиолог, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ТРАВМАТОЛОГ-ОРТОПЕД</td>
			<td>20000</td>
			<td>Врач-травматолог-ортопед оказывает ортопедическую и травматологическую помощь. Использует консервативные (физиотерапию, лечебную физкультуру, санаторно-курортное лечение) и хирургические (операции на костях и мягких тканях) методы лечения. При необходимости назначает протезно-ортопедические изделия (корсеты, протезы, специальную обувь и др.)</td>
			<td>Терапевт, хирург, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ФИЗИОТЕРАПЕВТ</td>
			<td>16000</td>
			<td>Врач-физиотерапевт принимает в своем кабинете больных, направленных другими специалистами на лечение физическими факторами, изучает их истории болезни, определяет, нет ли противопоказаний для физиотерапии, какой метод лучше всего применить в данном случае.</td>
			<td>Терапевт, хирург, гинеколог, педиатр. </td>

		</tr>
		<tr>
			<td>ВРАЧ-ТОКСИКОЛОГ</td>
			<td>19000</td>
			<td>По признакам и течению заболевания при отравлениях он определяет, каким именно ядом отравился больной и назначает способы выведения яда из организма (гемосорбция, гемодиализ и др.), а также медикаментозные средства для обезвреживания и нейтрализации яда в организме (антидоты).</td>
			<td>Фармацевт, терапевт, нарколог, педиатр, аллерголог</td>

		</tr>
		<tr>
			<td>ВРАЧ-ПУЛЬМОНОЛОГ</td>
			<td>25000</td>
			<td>Врач-пульмонолог выявляет и устраняет факторы риска заболевания легких, оценивает результаты различных методов исследования пульмонологических больных, подбирает индивидуальные оптимальные методы лечения, организует и проводит комплексные мероприятия по выявлению больных с заболеваниями легких и их профилактику.</td>
			<td>Терапевт, фтизиатр, инфекционист, педиатр, аллерголог  </td>

		</tr>
		<tr>
			<td>ВРАЧ-ПСИХИАТР</td>
			<td>19000</td>
			<td>При нарушении деятельности головного мозга в результате его поражения или при болезнях других органов, нарушающих его нормальную деятельность, могут возникнуть психические заболевания, при которых в той или иной мере страдают психические функции человека. </td>
			<td>Психотерапевт, невропатолог, психолог, нарколог, терапевт, педиатр.</td>

		</tr>
		<tr>
			<td>ВРАЧ-ОФТАЛЬМОЛОГ</td>
			<td>25000</td>
			<td>Существует много причин, нарушающих зрение. Это и всевозможные воспаления, и снижение прозрачности оптической системы, и сосудистые поражения, и нарушения настройки глаза на близкое и далекое зрение (дальнозоркость и близорукость). Отсюда и задачи, стоящие перед врачом-офтальмологом.</td>
			<td>Хирург, терапевт, педиатр. </td>

		</tr>
		<tr>
			<td>ВРАЧ-ОТОЛАРИНГОЛОГ</td>
			<td>22000</td>
			<td>Работа ЛОР-врача в поликлинике складывается из профилактических осмотров, в том числе и при определении годности к труду в тех или иных профессиях, из приема больных, выполнения мелких операций и процедур. Наряду с этим отоларинголог должен быть постоянно готов к оказанию экстренной помощи, например, в случае закупорки гортани или трахеи.</td>
			<td>Хирург, терапевт, педиатр.  </td>

		</tr>
		<tr>
			<td>ВРАЧ-ДЕРМАТОВЕНЕРОЛОГ</td>
			<td>Reeves</td>
			<td>Строение и функции кожи, профилактика, диагностика и лечение кожных болезней являются предметом специальной отрасли медицинской науки - дерматологии. Врач-дерматолог обычно занимается предупреждением и лечением не только кожных, но и венерических болезней, в связи с чем эту специальность правильнее называть врач-дерматовенеролог.</td>
			<td>Терапевт, гинеколог, сексопатолог, аллерголог, педиатр.  </td>

		</tr>
		<tr>
			<td>ВРАЧ-НЕВРОПАТОЛОГ</td>
			<td>25000</td>
			<td> В практике невропатолога представлены такие широко известные заболевания, поражающие периферическую нервную систему, как радикулиты и невралгии. Эти болезни сопровождаются сильными болями и служат одной из частых причин временной нетрудоспособности.</td>
			<td>Психотерапевт, психолог, терапевт, психиатр. </td>

		</tr>
		<tr>
			<td>ВРАЧ-УРОЛОГ</td>
			<td>22000</td>
			<td>Урология - медицинская дисциплина, изучающая заболевания почек и мочевыводящих путей мужчин и женщин, а также заболевания мужских половых органов. Врач, специализирующийся в этой области, называется урологом.</td>
			<td>Терапевт, педиатр, хирург, нефролог.  </td>

		</tr>
		<tr>
			<td>Gloria</td>
			<td>Reeves</td>
			<td>67439</td>
			<td>10/18/1985</td>

		</tr>

	</tbody>
</ble>*@