@{
    ViewData["Title"] = "Специальности докторов";
}

<link rel="stylesheet" href="~/css/type.css" >

<center><h1>Специальности врачей</h1></center>
<div style="display:flex; gap:20px;">
	<p style="min-width:250px !important; height:250px !important; float:left !important; margin: 7px 7px 7px 0 !important;"><img src="~/image/quest.png" alt="вопрос"> </p>
	<p style="color: #767272 !important">
		Доктор – это человек со специальным образованием и опытом, который распознает и лечит болезни. У него обязательно должны быть навыки и квалификация, разрешение на врачебную деятельность.<br>      У каждого врача есть своя область знаний, направление в медицинской деятельности. Разобраться в том, какие бывают профессии в медицине может быть очень полезным. В медицине больше сотни специальностей. Среди них и самые популярные: терапевты, гинекологи, хирурги, старшие медсестры и онкологи. Узнать, что именно лечит тот или иной специалист нужно в случаях, когда один доктор направляет к другому. Рассматривая такие профессии, можно найти того специалиста, который давно нужен был. Иногда пациент просто не знает, куда ему обращаться и чего ожидать от приема. В описаниях к специальностям есть определение деятельности того или иного врача
	</p>
</div>

<br />
<div class="grid">
	<div class="item">
		<a href="#0" aria-labelledby="person1"></a>
		<img src='https://medswiss-spb.ru/wp-content/uploads/2014/01/Allergolog.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person1" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Аллерголог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Он выявляет аллергические заболевания при помощи специальных диагностических проб и лабораторных исследований в аллергологических отделениях больниц</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person2"></a>
		<img src='https://www.gmseco.ru/upload/resize_cache/webp/upload/medialibrary/0d7/0d7e4df1464bcd0b6469ffa92c198b46.webp' alt=''>
		<div class="item__overlay">
			<h3 id="person2" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Анестезиолог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Он оказывает реанимационную помощь во время и после операций, проводит реанимационные мероприятия (искусственное дыхание,массаж сердца и др.)</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person3"></a>
		<img src='https://enjoy-job.ru/wp-content/uploads/2018/11/epidemiolog2.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person3" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Эпидемиолог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Он принимает меры по предупреждению появления вшей, отдельных видов комаров, клещей и других насекомых, распространяющих инфекционные заболевания.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person4"></a>
		<img src='https://www.gdp1podolsk.ru/blog/wp-content/uploads/2022/06/kto-takoy-kardiolog-fc6be.png' alt=''>
		<div class="item__overlay">
			<h3 id="person4" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Кардиолог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">оказывает медицинскую помощь больным с заболеваниями органов кровообращения, а также занимается профилактикой этих заболеваний.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person5"></a>
		<img src='https://centr-hirurgii-viva.clinic/upload-files/onko1.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person5" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Онколог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Он лечит онкологических больных путем хирургического вмешательства и проводит лечение ионизирующими лучами</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person5"></a>
		<img src='https://img.freepik.com/premium-vector/in-traumatology-patient-treatment-trauma-vector-traumatologist-doctor-treat-woman-with-broken-leg-in-traumatology-hospital-cabinet-and-applying-elastic-bandage-characters-flat-cartoon-illustration_87720-5993.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person5" aria-hidden="true"style="color:#F3F3F3 !important; background:#6DE66D !important">Травматолог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">оказывает ортопедическую и травматологическую помощь. Использует консервативные (физиотерапию) и хирургические методы.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<a href="#0" aria-labelledby="person6"></a>
		<img src='https://familyhc.kz/assets/images/servis/psd4ddnt064.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person6" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Физиотерапевт</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">принимает в своем кабинете больных, направленных другими специалистами на лечение физическими факторами, изучает их истории болезни, определяет.</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person7"></a>
		<img src='https://n1s1.hsmedia.ru/72/69/fa/7269fa62e632c9a421809b4ead0e7a84/1793x1076_0xac120003_8459613671639036041.jpeg' alt=''>
		<div class="item__overlay">
			<h3 id="person7" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Санитарный врач </h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Его работа направлена на создание здоровой среды обитания человека и борьбу с разнообразными неблагоприятными факторами</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person8"></a>
		<img src='https://www.profguide.io/images/article/a/8/J6IBqtbvsq.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person8" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Рентгенолог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Проводит рентгенологические исследования для распознавания различных повреждений и заболеваний организма</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person9"></a>
		<img src='https://dpoaps.ru/blog/wp-content/uploads/2021/11/toksikolog.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Токсиколог </h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Он определяет, каким ядом отравился больной и назначает способы выведения яда из организма</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person10"></a>
		<img src='https://alfamed.info/upload/userfiles/UoBQXFrjsYU.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Пульмонолог </h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;"> занимается выявлением, лечением, наблюдением и профилактикой заболеваний легких</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person11"></a>
		<img src='https://polyclin.ru/upload/medialibrary/d21/o7sj91o5xjj20d04k9dv1jb0bl2xx31m/%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Уролог </h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Изучает заболевания почек и мочевыводящих путей мужчин и женщин, а также заболевания мужских половых органов </p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person12"></a>
		<img src='https://aquaminskclinic.by/upload/iblock/ebd/ebdd7f37afaadd7f32fc14cd1c4a7697.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important">Терапевт </h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Чаще работает с самыми распространенными(тяжелые и легкие) болезнями</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person13"></a>
		<img src='https://alfamed.info/upload/userfiles/Pediatric-Billing.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> Педиатрия</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Работает с болезнями и развитием детей,учитывая возрастные особенности во все периоды жизни ребенка. </p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person14"></a>
		<img src='https://www.myvin.com.ua/uploads/article/img_large/9444/d56dddd26c216382d41737fe7354e93e.jpeg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> Инфекционист</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;"> Занимается лечением заболевших, а также изоляция и наблюдение за теми, кто может стать источником заражения окружающих</p>
			</div>
		</div>
	</div>
	
	<div class="item">
		<a href="#0" aria-labelledby="person15"></a>
		<img src='https://medcentr.biz/upload/iblock/1ca/1ca4bc0305363b6a8da345fafd00225e.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> Хирург</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;"> Специализируюется на лечении различных заболеваний посредством физического вмешательства в организм пациента </p>
			</div>
		</div>
	</div>
	
	<div class="item">
		<a href="#0" aria-labelledby="person16"></a>
		<img src='https://proforientator.ru/upload/iblock/ae1/ae1c3ea7a5b7a624043419bd9d9ce013.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> Акушер</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Ведет профилактические осмотры женщин с целью раннего выявления болезней и занимается лечением болезней, наблюдает за беременными</p>
			</div>
		</div>
	</div>
	
	
	<div class="item">
		<a href="#0" aria-labelledby="person17"></a>
		<img src='https://kvalitet.in.ua/wp-content/uploads/2021/06/993728d2a32c4366aa0a7e7443e51222-1.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> Невропатол</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;"> Лечит и диагностирует болезни нервной системы, как центральной, так и периферической</p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person18"></a>
		<img src='https://www.parasels.ru/upload/medialibrary/c95/xc9596120bdd749b9e20f83cf32c70c05.jpg.pagespeed.ic.VSqhHGEjeq.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> Офтальмолог</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Специализируется на диагностике, лечении и профилактике болезней и травм глаз, а также органов зрительной системы </p>
			</div>
		</div>
	</div>

	<div class="item">
		<a href="#0" aria-labelledby="person18"></a>
		<img src='https://vvclinic.com.ua/images/news/lor_vrach_kiev.jpg' alt=''>
		<div class="item__overlay">
			<h3 id="person9" aria-hidden="true" style="color:#F3F3F3 !important; background:#6DE66D !important"> ЛОР</h3>
			<div class="item__body" style="background:#C1FFC1 !important">
				<p style="color:#505050 !important;">Медицинскую помощь при заболевании ушей, горла, носа и некоторых расположенных рядом органов оказывает оториноларинголог</p>
			</div>
		</div>
	</div>

</div>
