@{
    ViewData["Title"] = "Интересное";
}
<style>
    body {
        font-family: Arial;
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
</style>

<h2 style="text-align:center">Кто-то калечит, а они лечат: <br /> Выдающие врачи Кыргызстана</h2>

    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 12</div>
            <img src="~/image/top/1top.jpg" style="width:100%; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 12</div>
        <img src="~/image/top/2.1top.jpg" style="width:100%;  height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 12</div>
        <img src="~/image/top/3.1top.jpeg" style="width:100% ; height: 550px !importan">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 12</div>
        <img src="~/image/top/4.1top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 12</div>
        <img src="~/image/top/5.1op.jpg" style="width:100%;  height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 12</div>
        <img src="~/image/top/7.1top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 12</div>
        <img src="~/image/top/8.1top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 12</div>
        <img src="~/image/top/9.1top.jpg" style="width:100% ;height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">9 / 12</div>
            <img src="~/image/top/10.1top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">10 / 12</div>
        <img src="~/image/top/11.1top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">11 / 12</div>
        <img src="~/image/top/12top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <div class="mySlides">
            <div class="numbertext">12 / 12</div>
        <img src="~/image/top/13.1top.jpg" style="width:100% ; height: 550px !important">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
            <img class="demo cursor" src="~/image/top/1top.jpg" style="width:100%" onclick="currentSlide(1)" alt="Иса Ахунбаев  — знаменитый хирург и академик">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/2.1top.jpg" style="width:100%" onclick="currentSlide(2)" alt="Эрнст Акрамов — хирург с непростым характером, профессор и Герой Кыргызстана.">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/3.1top.jpeg" style="width:100%" onclick="currentSlide(3)" alt="Мамбет Мамакеев - хирург, профессор, заведующий кафедрой госпитальной хирургии КГМА">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/4.1top.jpg" style="width:100%" onclick="currentSlide(4)" alt="Какиш Рыскулова — первая женщина-хирург и первая женщина-академик в Центральной Азии">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/5.1op.jpg" style="width:100%" onclick="currentSlide(5)" alt="Мирсаид Миррахимов — доктор медицинских наук, профессор, врач-терапевт">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/7.1top.jpg" style="width:100%" onclick="currentSlide(6)" alt="Сабырбек Джумабеков — академик, профессор, экс-министр здравоохранения Кыргызской Республики">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/8.1top.jpg" style="width:100%" onclick="currentSlide(7)" alt="Талантбек Омурбеков - профессор, главный врач городской детской клинической больницы скорой медицинской помощи">
            </div>
            <div class="column">
            <img class="demo cursor" src="~/image/top/9.1top.jpg" style="width:100%" onclick="currentSlide(8)" alt="Накен Касиев - профессор, заслуженный врач Кыргызстана.">
            </div>
             <div class="column">
            <img class="demo cursor" src="~/image/top/10.1top.jpg" style="width:100%" onclick="currentSlide(9)" alt="Азамат Алымбаев — заслуженный врач Кыргызстана, возглавляет столичный родильный дом №2.">
            </div>
             <div class="column">
            <img class="demo cursor" src="~/image/top/11.1top.jpg" style="width:100%" onclick="currentSlide(10)" alt="Калдарбек Абдраманов  — знаменитый кардиохирург, профессор.">
            </div>
             <div class="column">
            <img class="demo cursor" src="~/image/top/12top.jpg" style="width:100%" onclick="currentSlide(11)" alt="Талантбек Батыралиев - кардиохирург, доктор медицинских наук, профессор">
            </div>
             <div class="column">
            <img class="demo cursor" src="~/image/top/13.1top.jpg" style="width:100%" onclick="currentSlide(12)" alt="Миталип Мамытов — известный нейхорирург, академик Национальной академии наук Кыргызстана">
            </div>
           
        </div>
    </div>

    <hr />
    <center> <h1 style=" color:#505050 !important; margin:5px 0 10px;">Полезные советы на каждый день</h1>  </center>

    <hr />
    <center>
<div class="d-inline-flex main-videos" style="margin:8px 20px 10px;  ">
        <div class="text-start">
        <iframe width="460" height="245" src="https://www.youtube.com/embed/2ig1NybSsi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    <div class="d-inline-flex main-videos" style="margin:8px 20px 10px;  ">
    <div class="text-center">
        <iframe class="video" width="460" height="245" src="https://www.youtube.com/embed/K7DFWfNFG6o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    <div class="d-inline-flex main-videos" style="margin:8px 20px 10px;  ">
    <div class="text-center">
        <iframe width="460" height="245" src="https://www.youtube.com/embed/4h_kqzTY_Wk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    <div class="d-inline-flex main-videos" style="margin:8px 20px 10px;  ">
    <div class="text-center">
<iframe width="460" height="245" src="https://www.youtube.com/embed/-zhr7hxJUfs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    </div>
</div>
</center>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

