@{
    ViewData["Title"] = "Цены";
}

<h2>
    Услуги поликлиники,
            физиолечения и дневного
            стационара
</h2>
<p style="color: #323831">
    Тарифы на медицинские услуги в системе ОМС (далее - тарифы) представляют группу ценовых показателей в денежном выражении, определяющих уровень возмещения и состав расходов медицинских учреждении
    <br/>   Ниже вы можете посмотреть средние цены по Кыргызстану:
</p>
<div class="acor-container">

    <input type="radio" name="acor" id="acor1" checked="checked" />
    <label for="acor1">Постановка на учет</label>
    <div class="acor-body">
        <p>Постановка беременной на учет<span>2600с</span></p>
        <p>Постановка на учет к педиатру<span>3000с</span></p>
        <p>Постановка на учет к эндокринологу<span>2800с</span></p>
        <p>Постановка на учет к кардиологу<span>3000с</span></p>
    </div>

    <input type="radio" name="acor" id="acor2" />
    <label for="acor2">Пакеты анализа</label>
    <div class="acor-body">
        <p> Пакет анализов «Кардиориск» <span> 2195с</span></p>
        <p> Пакет анализов «Кардиориск расширенный» <span>2900с </span></p>
        <p>  Пакет «Хирургическая операция»<span>4000с </span></p>
        <p> Пакет «Урологический» <span> 1900с</span></p>
        <p> Пакет «Щитовидная железа» <span>2100с </span></p>
        <p>Пакет «Профилактика заболеваний шейки матки» <span>1200с </span>
        </p>
    </div>

    <input type="radio" name="acor" id="acor3" />
    <label for="acor3">Функциональная и лучевая диагностика</label>
    <div class="acor-body">
        <p> Компьютерная томография ОГК <span> 2600с</span></p>
        <p>Компьютерная томография органа  <span>2900с </span></p>
        <p> Рентген органа в 1й проекции <span>700с </span></p>
        <p> Рентген органа в 2х проекциях <span>900с </span></p>
        <p> УЗИ органов брюшной полости <span> 1500с</span></p>
        <p> УЗИ – мужской комплекс <span> 1200с</span></p>
        <p> УЗИ – женский комплекс <span> 2000с</span></p>
        <p> Анестезия для гастро- и/или колоноскопии <span> 1500с</span></p>
    </div>

    <input type="radio" name="acor" id="acor4" />
    <label for="acor4">Операции на сердце</label>
    <div class="acor-body">
        <p> Коронарография <span> 18000с</span></p>
        <p> Стентирование сосудов сердца (с пакетом анализов) <span> 180600с</span></p>
        <p> Протезирование клапана сердца (без учета клапана) <span> 300000с</span></p>
        <p> Имплантация окклюдера (без стоимости окклюдера) <span> 115000с</span></p>
        <p> Тромболическая терапия при ишем-ком инсульте (тромболизис) <span>90000с </span></p>
    </div>

    <input type="radio" name="acor" id="acor5" />
    <label for="acor5">Травматологические операции</label>
    <div class="acor-body">
        <p> Остеосинтез передних конечностей (без стоимости протеза) <span> 23000с</span></p>
        <p> Остеосинтез задних конечностей (без стоимости протеза) <span> 32000с</span></p>
    </div>

    <input type="radio" name="acor" id="acor6" />
    <label for="acor6">Хирургические операции</label>
    <div class="acor-body">
        <p> Аппендэктомия <span> 25000с</span></p>
        <p> Холецистэктомия <span>30000с </span></p>
        <p> Лазерное лечение геморроя <span> 40000с</span></p>
        <p> Грыжесечение <span>25000с </span></p>
    </div>

    <input type="radio" name="acor" id="acor7" />
    <label for="acor7">ЛОР операции</label>
    <div class="acor-body">
        <p> Септопластика <span>28000с </span></p>
        <p> Тимпонопластика <span>28000с </span></p>
        <p> Аденоидэктомия <span>23000с </span></p>
        <p> Тонзилэктомия <span>28000с </span></p>
    </div>

    <input type="radio" name="acor" id="acor8" />
    <label for="acor8">Гинекологические операции</label>
    <div class="acor-body">
        <p> Эмболизация маточной артерии (миома) <span>215000с </span></p>
        <p> Ампутация матки <span>35000с </span></p>
        <p> Кистектомия яичника <span>30000с </span></p>
        <p> Гистерорезектоскопия <span>23000с </span></p>
    </div>

</div>
<style>
    .acor-container {
        margin: 20px 50px;

    }

        .acor-container .acor-body {
            width: calc(100% - 40px);
            margin: 0 auto;
            height: 0;
            background-color: #C1FFc1;
            line-height: 18px;
            padding: 0 30px;
            box-sizing: border-box;
            transition: color 0.5s, padding 0.5s;
            overflow: hidden;
            font-family: Verdana, sans-serif;
            font-size: 16px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
        }

            .acor-container .acor-body p {
                margin: 0 0 10px;
                display: flex;
                justify-content: space-between;
                color:#505050;
            }

            .acor-container .acor-body p ol li{
                margin: 0 0 10px;
                display: flex;
                justify-content: space-between;
                color:#505050;
            }

        .acor-container label {
            border-radius: 5px;
            cursor: pointer;
            background-color: #6DE66D;
            display: block;
            padding: 15px 20px;
            width: 100%;
            color: #FFF;
            font-weight: 300;
            box-sizing: border-box;
            z-index: 100;
            font-family: Verdana, sans-serif;
            font-size: 18px;
            margin: 0 0 5px;
            transition: color .35s;
        }

            .acor-container label:hover {
                color: #F3F3F3;
            }

        .acor-container input {
            display: none;
        }

        .acor-container label:before {
            content: '\276F';
            float: right;
        }

        .acor-container input:checked + label {
            background-color: #6DE66D;
            color: #FFF;
            box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
        }

            .acor-container input:checked + label:before {
                transition: transform .35s;
                transform: rotate(90deg);
            }

            .acor-container input:checked + label + .acor-body {
                height: auto;
                margin-top: -5px;
                color: #000;
                padding: 20px 30px 10px;
            }</style>