@{
    ViewData["Title"] = "Главная";
}
<link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="~/css/Otziv.css" asp-append-version="true" />

<link rel="stylesheet" href="~/about/css/animate.css" asp-append-version="true" />
        <!-- PAGE LEVEL PLUGIN STYLES -->
<link href="~/about/css/animate.css" rel="stylesheet">

        <!-- THEME STYLES -->
<link href="~/about/css/layout.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1644932323_9-phonoteka-org-p-biryuzovo-zelenii-fon-9.jpg" alt="First slide" height="550">
            <div class="inner-pic" style="width: 420px; height:420px;"><img style="width:100%; height:100%;" src="~/image/slide2.png"></div>
            <div class="carousel-caption d-none d-md-block" style="position: absolute !important;
    top: 0 !important;
    left: 45% !important;">
                <div class="inner-text">
                    <h3 style="color: #1b3c17 !important;  font-size: 28px;">Электронная медицинсая карта (ЭМК):</h3>
                    <ul style="list-style: none;">
                        <li>Рекомендация врача и рецепты</li>
                        <li>Дневники надзора за здоровьем</li>
                        <li>Всегда под рукой.</li>
                        <li>Никогда не потеряете</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1644932323_9-phonoteka-org-p-biryuzovo-zelenii-fon-9.jpg" alt="First slide" height="550">
            <div class="inner-pic" style="width: 400px; height:400px; border-radius:50%"><img style="width:100%; height:100%;" src="~/image/slid3.png"></div>
            <div class="carousel-caption d-none d-md-block" style="position: absolute !important;
    top: 0 !important;
    left: 45% !important;">
                <div class="inner-text">
                    <h3 style="color: #1b3c17 !important;  font-size: 28px;">Для врачей MCard40 это: </h3>
                    <ul style="list-style: none;">
                        <li>Предоставление полной и точной информации</li>
                        <li>Быстрый доступ к записям пациентовк</li>
                        <li>Удобство здравоохранения</li>
                        <li>Экономит время</li>
                    </ul>
                </div>
            </div>        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1644932323_9-phonoteka-org-p-biryuzovo-zelenii-fon-9.jpg" alt="First slide" height="550">
            <div class="inner-pic" style="width: 400px; height:400px;"><img style="width:100%; height:100%;" src="~/image/slide1.png"></div>
            <div class="carousel-caption d-none d-md-block" style="position: absolute !important;
    top: 0 !important;
    left: 45% !important;">
                <div class="inner-text">
                    <h3 style="color: #1b3c17 !important;  font-size: 28px;">
                        Необходим для каждой клиники
                    </h3>
                    <ul style="list-style: none;">
                        <li>Найти информацию в электронном регистре легче</li>
                        <li>Можно создавать необходимые документы</li>
                        <li>Замена почерка доктора</li>
                        <li>Поддерживать полную историю лечения в одной карте.</li>
                    </ul>
                </div>
            </div>        
            </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>


<!-- About -->
<div id="about">
    <div class="content-md container">
        
        <center> <h1 style=" color:#505050 !important; margin:-96px 0 40px; padding-top: 20px; ">Наши преимущества</h1>  </center>
        
        <!-- Masonry Grid -->
        <div class="masonry-grid row">
@*            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
*@            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 sm-margin-b-30">
                <div class="margin-b-50" >
                    <h2 style="margin-left:8px !important; margin-right:8px; color:#505050 !important; ">С MCard40 данные пациентов в безопасности</h2>
                    <p style="margin-left:8px !important; margin-right:8px; color:#505050 !important; ">Мы соблюдаем законы о безопасности данных;</p>
                        <p style="margin-left:8px !important; margin-right:8px; color:#505050 !important; ">MCard40 имеет уникальную архитектуру данных, при которой медицинская информация и персональные данные хранятся раздельно;</p>
                </div>
                <img class="full-width img-responsive wow fadeInUp" src="~/image/pic1.jpg" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".2s">
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                <div class="margin-b-50">
                    <img class="full-width img-responsive wow fadeInUp" src="~/image/pic3.jpg" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".3s">
                </div>
                <h2 style="margin-left:8px !important; margin-right:8px; color:#505050 !important; " >Экономит время врача</h2>
                <p style="margin-left:8px !important; margin-right:8px; color:#505050 !important; " > Медкартой MCard40 может пользоваться доктор с любым уровнем технической подготовленности.</p>
                <p style="margin-left:8px !important; margin-right:8px; color:#505050 !important; " >Получать дополнительное образование для работы с системой не потребуется</p>
            </div>
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                <div class="margin-t-10 margin-b-50">
                    <h2 style="margin-left:8px !important; margin-right:8px; color:#505050 !important; ">
                        MCard40 возвращает врачей в медицину
                    </h2>
                    <p style="margin-left:8px !important; margin-right:8px;  color:#505050 !important;">Врач не должен нести бремя административной нагрузки и тонуть в документации, в то время как он может принять больше больных и внимательнее к ним отнестись. </p>
                </div>
                <img class="full-width img-responsive wow fadeInUp" src="~/image/pic2.png" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".4s">
            </div>
        </div>
        <!-- End Masonry Grid -->
    </div>
</div>
<!--Отзывы-->
<div class="koguvcavis-varazdel">
    <div class="sestim-donials">
        <h1>Отзывы</h1>
        <div class="sectionesag"></div>
        <div class="sagestim-lonials">
            <div class="vemotau-vokusipol">
                <div class="testimonial">
                    <img src="https://cdn.icon-icons.com/icons2/3708/PNG/512/man_person_people_avatar_icon_230017.png" alt="">
                    <div class="gecedanam">Акматов Акыл</div>
                    <div class="apogered-gselected">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p style="color:#505050 ;margin-bottom: 5px;">Для меня это было бы удобно,т.к. ЭМК всегда будет рядом и не потеряешь, в отличие от бумажного аналога, не ожидая очереди в регистратуре</p>
                </div>
            </div>

            <div class="vemotau-vokusipol">
                <div class="testimonial">
                    <img src="https://cdn.icon-icons.com/icons2/2630/PNG/512/woman_avatar_people_girl_curly_hair_icon_159131.png" alt="">
                    <div class="gecedanam">Токтосунова Чынара</div>
                    <div class="apogered-gselected">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>

                    <p style="color:#505050 ;margin-bottom: 5px;">Не нужно будет гадать трудный почерк врача</p>
                </div>
            </div>

            <div class="vemotau-vokusipol">
                <div class="testimonial">
                    <img src="https://cdn.icon-icons.com/icons2/2291/PNG/512/doctor_asian_male_coronavirus_people_avatar_mask_icon_141385.png" alt="">
                    <div class="gecedanam">Манапов Семетей</div>
                    <div class="apogered-gselected">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>

                    <p style="color:#505050 ;margin-bottom: 5px;">Это удобно и просто. Нужно будет лишь найти пациента и изучить историю пациента за любой промежуток времени</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<!--Новости-->
<center> <h1 style=" color:#505050 !important; margin:-10px 0 0px;  ">Последние новости</h1>  </center>
<hr />
<section class="grid" >
    <article class="grid-item">
        <div class="image">
            <img src="https://www.ktrk.kg/img/thumbnail/745851670497916_big.jpg" />
        </div>
        <div class="info">
            <h2>Коронавирус в прошлом? Нужно ли бояться его? </h2>
            <div class="info-text">
                <p style="color:#505050">
                    За одну неделю по всему Кыргызстану выявили 10 новых случаев covid
                </p>
            </div>
            <div class="button-wrap">
                <a asp-area="" asp-controller="TypesDoctor" asp-action="NewsPageFifth" class="atuin-btn">Подробнее</a>

            </div>
        </div>
    </article>

    <article class="grid-item">
        <div class="image">
            <img src="https://novosti.kg/wp-content/uploads/2022/12/v-raione-snizhaetsja-chislo-zabolevshih-orvi-photo-big-1_croped.jpg" />
        </div>
        <div class="info">
            <h2>В КР все больше заразившихся ОРВИ</h2>
            <div class="info-text">
                <p style="color:#505050">Названа его основая причина роста и возростной уровень заразившихся</p>
            </div>
            <div class="button-wrap">
                <a asp-area="" asp-controller="TypesDoctor" asp-action="NewsPageFirst" class="atuin-btn">Подробнее</a>
            </div>
        </div>
    </article>

     <article class="grid-item">
        <div class="image">
            <img src="https://thepharma.media/static/storage/thumbs/428x348/5/f6/c8d019bb-6f73cec31b456d42daa5277a199ebf65.jpg?v=6105_1" />
        </div>
        <div class="info">
            <h2>Исцелился мужчина, 40 лет болевший ВИЧ</h2>
            <div class="info-text">
                <p style="color:#505050">В Калифорнии от ВИЧ-инфекции полностью вылечили четвертого в мире пациента</p>
            </div>
            <div class="button-wrap">
                <a asp-area="" asp-controller="TypesDoctor" asp-action="NewsPageThird" class="atuin-btn">Подробнее</a>
            </div>
        </div>
    </article>

     <article class="grid-item">
        <div class="image">
            <img src="https://dimonvideo.ru/files/newsimg/usernews/playground/237655/img_237655_imgp.png" />
        </div>
        <div class="info">
            <h2>Чистый воздух - это роскошь? Oфициально - да</h2>
            <div class="info-text">
                <p style="color:#505050">Dyson выпустит беспроводные наушники с функцией очистки воздуха</p>
            </div>
            <div class="button-wrap">
                <a asp-area="" asp-controller="TypesDoctor" asp-action="NewsPageFourth" class="atuin-btn">Подробнее</a>

            </div>
        </div>
    </article>
   
</section>


    <div class="container" style="padding-top: 3rem!important;">
        <div class="row h-100 align-items-center " style="padding-top: 3rem!important;">
            <div class="col-lg-6">
            <h1 class="display-4" style=" color:#505050 !important; margin:-200px 50px 40px; ">Наша команда</h1>
            <p class="lead text-muted mb-0" style=" color:#505050 !important">Сыдыков Нурдин и Манапова Чолпонай</p><br />
            <p class="lead text-muted" style=" color:#505050 !important">
                    Мы молодый,креативные начинающие .Net разработчики. Ма надеемся, что наше web-приложение принесет пользу и даст толчок к развитию КР.
                <br /> <br /> Мы сделаем всё, чтобы Вы остались в восторге от использования MCard40    
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://img.freepik.com/free-vector/businesspeople-in-the-office-with-e-mail-marketing-icons_24877-51280.jpg?t=st=1670779405~exp=1670780005~hmac=c709d193f135173097031b1e55b6268968e4687181b7fcce1d02ff2abee7d21a" alt="" class="img-fluid"></div>
        </div>
    <a asp-controller="TypesDoctor" asp-action="Answ" class="btn btn-dark" style="position:relative; bottom:10px; ">Оценить приложение</a>

    </div>


<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 300000); // Change image every 2 seconds
    }
    $('.carousel').carousel({
        interval: 1000
    })

</script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>

<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- CORE PLUGINS -->
<script src="~/about/vendor/jquery.min.js" type="text/javascript"></script>
<script src="~/about/vendor/jquery-migrate.min.js" type="text/javascript"></script>
<script src="~/about/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL PLUGINS -->
<script src="~/about/vendor/jquery.easing.js" type="text/javascript"></script>
<script src="~/about/vendor/jquery.back-to-top.js" type="text/javascript"></script>
<script src="~/about/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
<script src="~/about/vendor/jquery.wow.min.js" type="text/javascript"></script>
<script src="~/about/vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
<script src="~/about/vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
<script src="~/about/vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U"></script>

<!-- PAGE LEVEL SCRIPTS -->
<script src="~/about/js/layout.min.js" type="text/javascript"></script>
<script src="~/about/js/components/wow.min.js" type="text/javascript"></script>
<script src="~/about/js/components/swiper.min.js" type="text/javascript"></script>
<script src="~/about/js/components/masonry.min.js" type="text/javascript"></script>
<script src="~/about/js/components/google-map.min.js" type="text/javascript"></script>