@{
    ViewData["Title"] = "Политика";
}
<br />
<center><img src="~/image/gerb.png" width="150px" height="150px"> </center>
<h3 style="text-align: center;"><center> ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ</center></h3><hr />
<h4><center>О статусе медицинского работника</center></h4><hr />
<h5><center>(В редакции Закона КР от 29 июня 2020 года № 67)</center></h5>
<p style="color:black">Настоящий Закон регулирует правовые, социально-экономические отношения, связанные с деятельностью медицинских работников и направлен на создание условий, обеспечивающих качественное улучшение правового положения, реализацию гарантий их социальной защищенности, а также определяет требования к лицам, желающим заниматься медицинской деятельностью, их основные права, обязанности и ответственность при осуществлении данной деятельности.</p>


<div class="acor-container">

    <input type="radio" name="acor" id="acor1" checked="checked" />
    <label for="acor1">Статья 1. Статус медицинских работников</label>
    <div class="acor-body" style="font-family: 'Poppins', sans-serif; font-size: 1.1em; color:#505050 !important;">
        <p>1. Статус медицинских работников имеют лица с медицинским образованием, а также с биологическим образованием, занимающие должность врачей-лаборантов и лаборантов, и соответствующей квалификацией, осуществляющие свою деятельность в организациях здравоохранения, в том числе образовательных, частнопрактикующие лица. Статус медицинских работников определяется условиями и характером деятельности, включает в себя их права, обязанности и ответственность.</p>
        <p>2. К медицинским работникам относятся врачи, в том числе главные врачи (директора) и их заместители, преподаватели и сотрудники организаций высшего и среднего медицинского профессионального образования и медицинских кафедр, специалисты со средним профессиональным медицинским образованием, санитары.></p>
        <p>3. Постановка на учет к эндокринологу</p>
        <p>4. Медицинские работники осуществляют свою деятельность, руководствуясь принципами медицинской этики и деонтологии, регулирующими нравственные взаимоотношения медицинских работников с пациентами, их родственниками, между собой.</p>
    </div>

    <input type="radio" name="acor" id="acor2" />
    <label for="acor2">Статья 2. Законодательство Кыргызской Республики о статусе медицинского работника</label>
    <div class="acor-body">
        <p> 1. Законодательство Кыргызской Республики о статусе медицинского работника основывается на Конституции Кыргызской Республики, состоит из настоящего Закона, других нормативных правовых актов, а также вступивших в установленном законом порядке в силу международных договоров, участницей которых является Кыргызская Республика.</p>
    </div>

    <input type="radio" name="acor" id="acor3" />
    <label for="acor3"> Статья 3. Допуск медицинских работников к практической деятельности</label>
    <div class="acor-body">
        <p> 1. Допуск к осуществлению медицинской деятельности в Кыргызской Республике имеют лица, получившие высшее или среднее медицинское или высшее биологическое образование, имеющие диплом и сертификат специалиста, а лица, занимающиеся частной медицинской практикой, - лицензию на осуществление медицинской деятельности.</p>
        <p>2. Студенты высших и средних медицинских образовательных организаций допускаются к участию в оказании медицинской помощи гражданам согласно программам обучения под контролем медицинских работников, несущих ответственность за их профессиональную подготовку.</p>
        <p> 3.Лица, получившие медицинскую подготовку в других государствах, допускаются к медицинской деятельности в Кыргызской Республике после аттестации и регистрации в уполномоченном государственном органе Кыргызской Республики в области здравоохранения</p>
        <p> 4. Лица, незаконно занимающиеся медицинской деятельностью, несут ответственность в соответствии с законодательством</p>
    </div>

    <input type="radio" name="acor" id="acor4" />
    <label for="acor4">Статья 4. Содержание медицинской деятельности</label>
    <div class="acor-body">
        <p>
            1.Медицинская деятельность включает:
            <ol style="color:#505050 !important;">
                <li>оказание медицинской помощи человеку независимо от пола, возраста, национальной и расовой принадлежности, социального положения, политических и религиозных взглядов, вероисповедания, языка и мировоззрения;</li>
                <li>пропаганду здорового образа жизни;</li>
                <li>рганизацию профилактических мероприятий;</li>
                <li> совершенствование профессиональных качеств и накопление медицинского опыта;</li>
                <li>преподавательскую деятельность в медицинских образовательных организациях; </li>
            </ol>
        </p>
        <p> Независимо от формы собственности медицинского учреждения, в котором работает медицинский работник, он может сотрудничать с профессиональными и общественными организациями в области общественного здравоохранения, социальными партнерами и органами власти. </p>
        <p> Медицинская деятельность несовместима с фармацевтической деятельностью - изготовлением, выдачей, распространением фармацевтической (если иное не предусмотрено законодательством) и парафармацевтической продукции, а также торговлей указанной продукцией. </p>
    </div>

    <input type="radio" name="acor" id="acor5" />
    <label for="acor5">Статья 5. Гуманный характер профессии медицинского работника</label>
    <div class="acor-body">
        <p>1. Профессия медицинского работника носит гуманный характер, поскольку любая его профессиональная деятельность осуществляется исключительно в интересах сохранения, восстановления и укрепления здоровья личности, а также в интересах общества.</p>
        <p>2. При любых условиях осуществления профессиональной деятельности медицинские работники должны демонстрировать готовность к бескорыстному оказанию помощи, корректность, преданность делу и уважение к человеку.></p>
    </div>

    <input type="radio" name="acor" id="acor6" />
    <label for="acor6">Статья 6. Уважение к человеческой личности</label>
    <div class="acor-body">
        <p>1. Здоровье человека является высшей ценностью личного и общественного характера. Применяя все свои профессиональные знания и умение, медицинские работники обязаны способствовать охране здоровья населения, бороться с любыми формами проявления жестокости и унижения человеческого достоинства, демонстрировать уважение к человеку.</p>
    </div>

    <input type="radio" name="acor" id="acor7" />
    <label for="acor7">Статья 7. Ограничения к осуществлению медицинской деятельностии</label>
    <div class="acor-body">
        <p> 1. Медицинская деятельность несовместима с использованием медицинских знаний во вред здоровью пациента или в преступных целях.></p>
        <p>
            2. Не может заниматься медицинской деятельностью:
            <ol style="font-family: 'Poppins', sans-serif; font-size: 1.1em; color:#505050 !important;">
                <li>лицо, ранее осужденное за умышленное совершение преступления при осуществлении медицинской деятельности</li>
                <li>лицо, которому было вынесено наказание в виде лишения права заниматься медицинской деятельностью на период, установленный решением суда;</li>
                <li>лицо, признанное судом частично или полностью недееспособным;</li>
    </ol></p>
    </div>

    <input type="radio" name="acor" id="acor8" />
    <label for="acor8">Статья 8. Непрерывность медицинского образования</label>
    <div class="acor-body">
        <p> 1. непрерывной профессиональной подготовки по программам медицинских образовательных организаций; </p>
        <p> 2. систематического пополнения медицинскими работниками своих знаний и совершенствования практических навыков;</p>
        <p> 3. поддержки государством медицинских работников, желающих совершенствовать свои профессиональные знания</p>
    </div>

    <input type="radio" name="acor" id="acor9" />
    <label for="acor9">Cтатья 9. Содействие медицинским работникам</label>
    <div class="acor-body">
        <p> 1. Должностные лица и граждане обязаны содействовать медицинским работникам при оказании ими медицинской помощи. </p>
        <p> 2. В случае отказа выполнить законное требование медицинского работника о предоставлении транспорта, средств связи должностное лицо или владелец транспортного средства несут ответственность, установленную законодательством</p>
        <p> 3. Порядок компенсации расходов, связанных с оказанием медицинской помощи при угрозе жизни человека, определяется Правительством Кыргызской Республики.</p>
    </div>

    <input type="radio" name="acor" id="acor10" />
    <label for="acor10">Статья 10. Аттестация медицинских работников</label>
    <div class="acor-body">
        <p> 1. В целях поддержания квалификации, повышения уровня подготовки и профессиональной ответственности, а также определения квалификационной категории и соответствия занимаемой должности медицинские работники, в том числе преподаватели клинических кафедр, подлежат периодической аттестации</p>
        <p> 2. Иностранные граждане и лица без гражданства, имеющие право заниматься медицинской деятельностью в Кыргызской Республике, при профессиональной аттестации имеют равные с гражданами Кыргызской Республики права и обязанности</p>
    </div>

    <input type="radio" name="acor" id="acor11" />
    <label for="acor11"> Статья 11. Права медицинских работников</label>
    <div class="acor-body">
        <p>
            1.  Медицинские работники имеют право:
            <ol style="font-family: 'Poppins', sans-serif; font-size: 1.1em; color:#505050 !important;">
                <li>на условия труда, обеспечивающие качественное оказание медико-санитарной помощи;</li>
                <li>на выбор методов обследования и лечения пациентов на основе клинических протоколов, утверждаемых уполномоченным государственным органом Кыргызской Республики в области здравоохранения;S</li>
                <li>на внедрение современных методов диагностики в медицинскую практику;</li>
                <li>на иные права, предусмотренные законодательством</li>
            </ol>
        </p>
        <p> 2. Медицинские работники имеют право на освобождение от ответственности при совершении профессиональной ошибки. Под профессиональной ошибкой медицинских работников понимается ошибка при исполнении ими своих профессиональных обязанностей при независящих от них обстоятельствах, являющаяся следствием добросовестного заблуждения и не содержащая состава преступления или признака проступка.</p>
    </div>

    <input type="radio" name="acor" id="acor12" />
    <label for="acor12">Статья 12. Права медицинских работников на материальное обеспечение и социальную защиту</label>
    <div class="acor-body">
        <p> 1. Медицинские работники имеют право на гарантированную заработную плату. Заработная плата медицинских работников устанавливается в размере должностных окладов, установленных для работников системы здравоохранения, в соответствии с действующими нормативными правовыми актами.</p>
        <p> 2. Медицинским работникам, имеющим ученую степень доктора или кандидата наук, почетное звание "Заслуженный врач Кыргызской Республики" или "Заслуженный работник здравоохранения Кыргызской Республики"</p>
        <p> 3. В соответствии с квалификационной категорией, присваиваемой уполномоченным государственным органом Кыргызской Республики в области здравоохранения, работникам здравоохранения устанавливаются надбавки к должностным окладам</p>
        <p> 4. Размеры надбавок за квалификационную категорию, а также иные виды надбавок и доплат, порядок их выплаты определяются Правительством Кыргызской Республики</p>
    </div>
</div>


<style>
    .li{
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        color:#505050 !important;
        justify-content: space-between;
    }
    .acor-container {
        margin: 20px 50px;
    }

        .acor-container .acor-body {
            width: calc(100% - 40px);
            margin: 0 auto;
            height: 0;
            background-color: #C1FFc1;
            line-height: 18px;
            padding: 0 30px;
            box-sizing: border-box;
            transition: color 0.5s, padding 0.5s;
            overflow: hidden;
            font-family: Verdana, sans-serif;
            font-size: 16px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
        }

            .acor-container .acor-body p {
                margin: 0 0 10px;
                display: flex;
                justify-content: space-between;
                color: #505050;
            }

        .acor-container label {
            border-radius: 5px;
            cursor: pointer;
            background-color: #6DE66D;
            display: block;
            padding: 15px 20px;
            width: 100%;
            color: #FFF;
            font-weight: 300;
            box-sizing: border-box;
            z-index: 100;
            font-family: Verdana, sans-serif;
            font-size: 18px;
            margin: 0 0 5px;
            transition: color .35s;
        }

            .acor-container label:hover {
                color: #F3F3F3;
            }

        .acor-container input {
            display: none;
        }

        .acor-container label:before {
            content: '\276F';
            float: right;
        }

        .acor-container input:checked + label {
            background-color: #6DE66D;
            color: #FFF;
            box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
        }

            .acor-container input:checked + label:before {
                transition: transform .35s;
                transform: rotate(90deg);
            }

            .acor-container input:checked + label + .acor-body {
                height: auto;
                margin-top: -5px;
                color: #000;
                padding: 20px 30px 10px;
            }

    </style>