@model MCard40.Model.Entity.Patient
@using MCard40.Model.Enums

@{
    ViewData["Title"] = "Создать анкету пациента";
}
<h2><center>Создать анкету пациента</center></h2>
@*<link rel="stylesheet" href="~/css/anketa.css" asp-append-version="true" />*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>


<style>
    .form-group {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .form-control {
        height: auto !important;
        padding: 8px 12px !important;
        background-color: #C1FFC1 !important;
    }

    .input-group {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
    }

    #button {
        border: 1px solid #ccc;
        margin-top: 28px;
        padding: 6px 12px;
        color: #505050;
        text-shadow: 0 1px #fff;
        cursor: pointer;
        border-radius: 3px 3px;
        box-shadow: 0 1px #fff inset, 0 1px #ddd;
        background: #c1ffc1;
        background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
        background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
    }

    .main-form {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 450px;
        padding: 10px 40px;
        background: #6DE66D;
        color: #F3F3F3;
        text-shadow: none;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    }

    span.input-group-addon i {
        color: #c1ffc1;
        font-size: 17px;
    }

    .login-button {
        margin-top: 5px;
    }
</style>

<div class="row main-form">
    <form asp-action="PatientCreateAnketa">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <input asp-for="FullName" class="form-control" placeholder="Введите ФИО" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Age" class="cols-sm-2 control-label">Дата рождения</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span asp-validation-for="Age" class="text-danger" class="input-group-addon"></span>
                    <input asp-for="Age" class="form-control" />
                </div>
            </div>

        </div>

        <div class="form-group">
            <label asp-for="Sex" class="cols-sm-2 control-label">Пол</label>
            <div class="cols-sm-10">
                <span asp-validation-for="Sex" class="text-danger" class="input-group-addon"></span>
                <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()" class="selectpicker" data-style="btn-success" multiple data-max-options="1"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ITN" class="control-label"></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <input asp-for="ITN" class="form-control" placeholder="Введите ИНН" />
                    <span asp-validation-for="ITN" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <input asp-for="Address" class="form-control" placeholder="Введите адрес вашего проживания" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BloodGroup" class="cols-sm-2 control-label">Группа крови</label>
            <div class="cols-sm-10">
                <span asp-validation-for="BloodGroup" class="text-danger" class="input-group-addon"></span>
                <select asp-for="BloodGroup" asp-items="Html.GetEnumSelectList<BloodGroup>()" class="selectpicker" data-style="btn-success" multiple data-max-options="1"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Disability" class="cols-sm-2 control-label">Инвалидность</label>
            <div class="cols-sm-10">
                <span asp-validation-for="Disability" class="text-danger" class="input-group-addon"></span>
                <select asp-for="Disability" asp-items="Html.GetEnumSelectList<Disability>()" class="selectpicker" data-style="btn-success" multiple data-max-options="1"></select>
            </div>
        </div>

        <div hidden="hidden" class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger">@ViewBag.UserId</span>
        </div>

        <div class="form-group ">
              <input type="submit" value="Сохранить" class="btn btn-success btn-lg btn-block login-button" />
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
