.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto !important;
    padding: 8px 12px !important;
    background-color: #C1FFC1 !important;
}

.input-group {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #505050;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    border-radius: 3px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #c1ffc1;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-form {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 450px;
    padding: 10px 40px;
    background: #6DE66D;
    color: #F3F3F3;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

span.input-group-addon i {
    color: #c1ffc1;
    font-size: 17px;
}

.login-button {
    margin-top: 5px;
}
