.indent-small {
    margin-left: 5px;
}

.form-group.internal {
    margin-bottom: 0;
}

.dialog-panel {
    margin: 10px;
}


.control-label {
    text-align: left !important;
}

.datepicker-dropdown {
    z-index: 200 !important;
}

.btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap
}

.full-width {
    width: 100% !important;
}

.btn-lenght {
    width: 200px
}

.col-md-offset-2 {
    margin-left: 141px;
}


.panel-body {
    background: #e5e5e5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #c1ffc1 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#c1ffc1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #c1ffc1 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #c1ffc1 0%,#ffffff 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #c1ffc1 0%,#ffffff 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #c1ffc1 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ffc1', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    font: 600 15px "Open Sans",Arial,sans-serif;
}

@media(max-width: 1000px) {
    .col-md-offset-2 {
        margin-left: 0 !important;
    }

    .col-md-6 {
        max-width: 100% !important;
    }

    .btns {
        gap: 10px;
    }
}
