@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
    box-sizing: border-box;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 17rem);
    gap: 2rem;
}

.item {
    position: relative;
    height: 19rem;
    background-color: lightGrey;
    overflow-y: hidden;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

    .item h3 {
        margin: 0;
        display: block;
        background-color: turquoise;
        padding: 1rem;
    }

    .item a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

        .item a:hover ~ .item__overlay, .item a:focus ~ .item__overlay {
            transform: translate3d(0, 0, 0);
        }

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.item__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    transition: transform 300ms;
    background-color: #82ebe0;
    transform: translate3d(0, calc(100% - 3.5rem), 0);
}

.item__body {
    flex-grow: 1;
    padding: 1rem;
}

    .item__body p {
        margin: 0;
    }
